.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 30px;
    padding-bottom: 30px;

    button {
        width: 50px;
        height: 50px;
        color: #333;
        font-weight: 600;
        border: none;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;

    }
}

.top {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;

    .recipe {
        padding: 8px 16px;
        background-color: #ee6352;
        border-radius: 16px;
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        color: #fffbf2;
        text-transform: uppercase;
        margin-top: 64px;
    }

    h2 {
        font-weight: 800;
        font-size: 80px;
        line-height: 100%;
        letter-spacing: 0;
        text-align: center;
        text-transform: uppercase;
        color: #262522;
        max-width: 870px;
    }

    p {
        font-weight: 400;
        font-size: 21px;
        line-height: 140%;
        letter-spacing: 0;
        text-align: center;
        color: #26252299;
        max-width: 648px;
    }

    .filter {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        flex-wrap: wrap;

        button {
            text-wrap: nowrap;
            border: none;
            padding: 12px 24px;
            font-size: 14px;
            font-weight: 600;
            border: 1px solid #262522;
            color: #262522;
            border-radius: 24px;
            opacity: 0.7;
            transition: 0.3s;

            &:hover {
                opacity: 1;
            }

            &.active {
                background-color: #9fdc26;
                opacity: 1;
            }
        }
    }
}
@media screen and (max-width:800px) {
    
    .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.top {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;

    .recipe {
        padding: 8px 16px;
        background-color: #ee6352;
        border-radius: 16px;
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        color: #fffbf2;
        text-transform: uppercase;
        margin-top: 64px;
    }

    h2 {
        font-weight: 600;
        font-size: 70px;
        line-height: 90%;
        letter-spacing: 0;
        text-align: center;
        text-transform: uppercase;
        color: #262522;
        max-width: 870px;
    }

    p {
        font-weight: 400;
        font-size: 18px;
        line-height: 110%;
        letter-spacing: 0;
        text-align: center;
        color: #26252299;
        max-width: 648px;
    }
}

}
@media screen and (max-width:550px) {
    
    .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.top {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;

    .recipe {
        padding: 6px 14px;
        background-color: #ee6352;
        border-radius: 13px;
        font-weight: 500;
        font-size: 18px;
        line-height: 90%;
        color: #fffbf2;
        text-transform: uppercase;
        margin-top: 64px;
    }

    h2 {
        font-weight: 600;
        font-size: 60px;
        line-height: 80%;
        letter-spacing: 0;
        text-align: center;
        text-transform: uppercase;
        color: #262522;
        max-width: 870px;
    }

    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 90%;
        letter-spacing: 0;
        text-align: center;
        color: #26252299;
        max-width: 648px;
    }
}
}